#ideology:hover .cat {
	opacity: .2;
}

#ideology .flow .cat:hover {
	opacity: 1;
}

#grafico-ideologie {
    width: 100%;
}

#grafico-mappa {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
