#Oil:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Oil:hover .cst9 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}


#Coal:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Coal:hover .cst9 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}

#Gas:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Gas:hover .cst9 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}
#Nuclear:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Nuclear:hover .cst9 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}
#Hydro:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Hydro:hover .cst9 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}
#Solar:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Solar:hover .cst9 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}
#Geo:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Geo:hover .cst0 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}

#Wind:hover .cst8 {
	opacity: 1;
        fill: #71c6aa;
}

#Wind:hover .cst0 {
	opacity: 1;
        fill: #71c6aa;
        stroke:#71c6aa
}

#Livello_8:hover .bst0 {fill:#FFFFFF;
               
                opacity: 1;
                }

#Sweden:hover .bst0 {fill:#FFFFFF;
                
                opacity: 1;
                }


#Maki:hover .bst0 {fill:#FFFFFF;
                
                opacity: 1;
                }


#Lenin:hover .bst0 {fill:#FFFFFF;
                
                opacity: 1;
                }


#Crystal:hover .bst0 {fill:#FFFFFF;
                
                opacity: 1;
                }


#Cherno:hover .bst0 {fill:#FFFFFF;
                
                opacity: 1;
                }


#Pensy:hover .bst0 {fill:#FFFFFF;
                
                opacity: 1;
                }

#Livello_8:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }

#Sweden:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }


#Maki:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }


#Lenin:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }


#Crystal:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }


#Cherno:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }


#Pensy:hover .bst1 {fill:#FFFFFF;
                stroke:#ffffff;
                opacity: 1;
                }
                